* {
    box-sizing: border-box;
}
@font-face {
    font-family: "Bebas Neue";
    src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
      url("../fonts/BebasNeueRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

body{
    font-family: "Roboto", sans-serif;
}
.header{
    height: 56px;
    background: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom:  4px solid #3596F5;
    
}

a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}
.container{
    max-width: 1280px;
    margin: auto;
    
}
.navbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.navbar__menu{
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
}
.navbar__item{
    margin-right: 40px;
    margin-left: 40px;
}
.navbar__contacts{
    text-align: right;
}
.navbar__text{
    display: block;
    margin-bottom: 4px;
    color: #fff;
    font-weight: normal;
font-size: 14px;
line-height: 16px;
}
.navbar__phone{
    font-weight: bold;
font-size: 17px;
line-height: 20px;
}
.main{
    padding-top: 54px;
}
.main-wrapper{
    display: flex;
}
.main-info{
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-image path{
    opacity: 0;
    cursor: pointer;
}

.home-image path:hover{
    opacity: 1;
}
.home-image .current-floor{
    opacity: 1;
} 
.counter-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button{
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.counter-arrow--down{
    transform: rotateX(180deg);
}
.main__title{
    font-family:"Bebas Neue" ;
    font-style: normal;
font-weight: normal;
font-size: 37px;
line-height: 37px;
text-align: center;
text-transform: uppercase;
color: #635854;
margin: 0;
}
.counter{
    margin-top: 10px;
    font-family:"Bebas Neue" ;
    color: #635854;
    font-size: 124px;
}
.button--primary{
    background: #3596F5;
border-radius: 6px;
color: #fff;
border: none;
padding: 16px 36px;
cursor: pointer;
}
