* {
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
.header{
    height: 56px;
    
}
.navbar-wrapper{
    background: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom:  4px solid #3596F5;
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}
.container{
    max-width: 1280px;
    margin: auto;
    
}
.navbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.navbar__menu{
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
}
.navbar__item{
    margin-right: 40px;
    margin-left: 40px;
}
.navbar__contacts{
    text-align: right;
}
.navbar__text{
    display: block;
    margin-bottom: 4px;
    color: #fff;
    font-weight: normal;
font-size: 14px;
line-height: 16px;
}
.navbar__phone{
    font-weight: bold;
font-size: 17px;
line-height: 20px;
}